*{
    margin:0;
    padding:0;
}

tr {
    border: 1px solid black;
    background: green;
}
tr, td {
    color: white;
}
.main-content{
    font-size: 16px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 35px;
}

.form-criar-setor{
    padding: 15px;
}

.info{
    
    margin-top:5px;
}

.info-content{
    
    margin-top:5px;
}

.subsetores {
    display: flex;
    gap: 10px;
}